.popup__year {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: #313131;
  position: absolute;
  z-index: 1;
  margin-top: 50px;
  width: 221px;
  height: 196px;
  gap: 28px;
}
.popup__year-text {
  display: flex;
  flex-direction: column;
}
